<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_staff or user.is_superuser %}
                <li><a href="{% url 'manage_users' %}">Manage Users</a></li>
            {% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'department_manage' %}">Departments</a></li>
                    {% endif %}
        <li>
            <form action="/logout/" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </li>
            {% else %}
                <li><a href="/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
