body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #eee;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
