{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="login-wrapper">
    <div class="login-card">

        <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="login-logo">
        </a>

        <h1 class="login-title">
            <a href="{% url 'home' %}" class="login-home-link">Student Support System</a>
        </h1>


        <div class="login-subtitle">Log in to continue</div>

        {% if form.errors %}
            <div style="color:#b91c1c; margin-bottom:12px;">
                Invalid username or password.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log in</button>
        </form>

    </div>
</div>

{% endblock %}
